<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div th:if(unAuthorize)>
                <h2>No estas autorizado</h2>
        </div>
        <div th:if(unAuthenticated)>
            <h2>Aun no eres usuarion, create an account to have access</h2>
        </div>
        <h1>Registration / Login Error</h1>
        <h3>Hello World BLA BLA BLA</h3>

        <script src="" async defer></script>
    </body>
</html>